<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="10" name="Suite" parallel="classes">
  <test thread-count="10" name="Test" parallel="classes">
    <classes>
      <class name="com.genericode.Forgotpwd"/>
      <class name="com.genericode.Key2ActLogin"/>
      <class name="com.genericode.IoTAgent"/>
      <class name="com.genericode.Key2ActUpdatePass"/>
      <class name="com.genericode.Key2ActIoT"/>
      <class name="com.genericode.Key2ActMenu"/>
      <class name="com.genericode.Key2ActCreateC"/>
      <class name="com.genericode.Key2ActSignUp"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
